mixin order-train-info(train)
  p 2014-02-21（周五）
    | {{ #{train}['车次'] }} 次
    | {{ #{train}.travelDeparture['站名'] + '/' + #{train}.travelTerminal['站名'] }} 
    | {{ #{train}.travelDeparture['出发'] + ' ~ ' + #{train}.travelTerminal['到达'] }}



mixin order-train-remain-ticket-info(train, section)
  p 
    each seateType in ['商务座', '特等座', '一等座', '二等座', '高级软卧', '软卧', '硬卧', '软座', '硬座', '无座', '其它']
      +train-info(train, seateType, section)

mixin train-info(train, seateType, section)
  if section == 'form'
    span.train-info(ng-if!="getRemainTickets(#{train}, '#{seateType}') > 0") 
      | #{seateType}（{{getTicketPrice('#{seateType}')}}元）: {{getRemainTickets(#{train}, '#{seateType}')|showRemainTickets}}
  else 
    //- section is 'conformation'
    span.train-info(ng-if!="getRemainTickets(#{train}, '#{seateType}') > 0") #{seateType}: 
    span.red(ng-if!="getRemainTickets(#{train}, '#{seateType}') > 0") {{getRemainTickets(#{train}, '#{seateType}')}}
